  <div class="col-6">
     <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="FirstName" value="{{this.FirstName}}" required>
 <label for="floatingInput">Name</label>
</div> 
  </div>




 
  <div class="col-6">
     <div class="form-floating mb-3">
  <input type="tel" class="form-control" id="floatingInput" placeholder="phone" name="phone" value="{{this.phone}}" required>
 <label for="floatingInput">Phone</label>
</div> 
  </div>



  <button class="btn btn-primary" type="submit">Submit</button>

