 



 
 
 <!-- ======= Hero Section ======= -->
 
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcoume to <br> <span style="text-decoration: underline;">OCCASSION CRAFT</span></h2>
                <p class="animate__animated animate__fadeInUp">A platform that allows you to digitally invite guests to your events. You can now send an invitation from the comfort of your home. Our QR code system makes sure guests don't have to think about carrying a physical invitation card.</p>
                <a href="/register/user" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">INVITE FRIENDS AND FAMILY</h2>
                <p class="animate__animated animate__fadeInUp">Gather your favourite people, celebrate and have a huge blast with them. Our Digital card design makes your guests feel honored and puts you in their good books.</p>
                <a href="/register/user" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">HOST OFFICIAL EVENTS</h2>
                <p class="animate__animated animate__fadeInUp">Host seminars, meetings, forums and many more. The QR code and guest list feature makes sure only invited guests are allow in.</p>
                <a href="/register/user" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-double-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-double-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->


  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
