 <div class=" text-center " style=" display: grid;
  place-items: center;
  height: 100vh; /* Adjust as needed */">



    <img src="/assets/img/favicon.png"  alt="Company Logo" class="logo pulse">


 </div>

