<div class="container" style="width: fit-content;">

<div class="container-fluid">
    <div class="text-center">

        <h1><b>
            GUEST NOT FOUND
        </b></h1>
                    <p class="btn btn-primary m-3" onclick="window.history.back()">Go Back</p>

    </div>
</div>
</div>